[Unit]
Description={{ service_name }} daemon
Requires={{ service_name }}.socket
After=network.target

[Service]
User={{ service_user }}
Group={{ service_group }}
WorkingDirectory={{ service_working_dir }}
ExecStart={{ service_exec_start }}

[Install]
WantedBy=multi-user.target
